<!DOCTYPE html>
<html lang="ru">
    {%load staticfiles%}

    <meta charset="UTF-8">
    <title>Система управления умным домо</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>

    <div id="main-layout">
        <div id="header">
            <h1>Система управления умным домом</h1>
        </div>
        <div id="ControllPanel">
            {% block ControllPanel %}
            {%endblock%}
        </div>

        <div id="footer">
            <p>JUST Do it</p>
        </div>
    </div>



</body>
</html>